form {
    width: 90%;
    display: flex;
    padding: 5px;
}

input, button {
    padding: 15px 12px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.txt input[type="text"] {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button {
    cursor: pointer;
    background-color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #eee;
    width: 100px;
}

button i {
    margin: auto 10px;
    color: #EC407A;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #fff;
    align-items: center;
    height: 17px;
    padding: 15px;
}